footer{
    position:fixed;
    bottom: 0;
    background-color: $bg-h1;    
    width: 100%;
    height: 60px;
    display: flex;    
    font-size: 2.5em;
    padding: 10px 0px;    
    z-index:98;
    a{  
        color: $color-h1;  
    }
    
    .mention{
        text-align: left;	
        width: 50%;		
        padding:10px 0px 10px 10px;    	
    }    

    .contact{		
        text-align: right;		
        width: 50%;
        padding:10px 10px 10px 0px; 			
    } 

    .contact-page_news{		
        padding: 10px;
        margin: auto;
        width: 100%;
        text-align: center;
    }


    .footer_hover:hover{
        animation: wiggle 1s infinite;
        -webkit-animation: wiggle 1s infinite; 

        @keyframes wiggle{ 
            0%{transform: rotate(-5deg);}
            50%{transform: rotate(0deg);}
            100%{transform: rotate(5deg);}
        }

        @-webkit-keyframes wiggle{ 
            0%{transform: rotate(-5deg);}
            50%{transform: rotate(0deg);}
            100%{transform: rotate(5deg);}
        }	
    }       
}





