/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------GENERAL----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

body
{
	margin: 0px;
	padding: 0px;
	font-family: "Comic sans MS";
}

header
{
	background-color: #579C87;
	width: 100%;
	height: 110px;
	text-align: center;	
}

h1
{
	margin: 0px;
	font-size: 80px;
	color: #FDCB46;
}
a 
{
	margin: 0px;
	position: 0px;
}
h2
{
	font-size: 60px;
	color: #FDCB46;
}

#sous_titre
{
	text-align: center;
	font-size: 40px;
	padding: 20px;
}

section
{	
 	display: flex; 
 	justify-content:space-around;
 	margin: 40px 0px; 	 	
}   

.title_center
{
   	position: absolute;	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

section a
{
	overflow: hidden;
}

.note:hover
{
	transform:scale(1.31);		
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;	
	opacity: 0.8; 
	
}

.note
{
	background-color: #FCDFDB;	
	text-align: center;
	border: 3px #F1F1F1 solid;
	box-shadow: 20px 20px 3px #F1F1F1;				
	font-size: 20px;		
	border-radius: 5px;	
	width: 500px;
	height: 600px;
	position: relative;		
}



.chic
{
	text-align: center;
	border: 3px #F1F1F1 solid;
	box-shadow: 20px 20px 3px #F1F1F1;				
	font-size: 20px;		
	border-radius: 5px;	
	width: 500px;
	height: 600px;
	position: relative;
	background-color: #FFF5FE;		
}

.delice
{
	text-align: center;
	border: 3px #F1F1F1 solid;
	box-shadow: 20px 20px 3px #F1F1F1;				
	font-size: 20px;		
	border-radius: 5px;	
	width: 500px;
	height: 600px;
	position: relative;		
	background-color: #F9F9F9;
	
}

.palette
{
	text-align: center;
	border: 3px #F1F1F1 solid;
	box-shadow: 20px 20px 3px #F1F1F1;				
	font-size: 20px;		
	border-radius: 5px;	
	width: 500px;
	height: 600px;
	position: relative;
	background-color: #FDFFDB;		
}

.chic:hover
{
	transform:scale(1.31);		
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;	
	opacity: 0.8;
}

.delice:hover
{
	transform:scale(1.31);		
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;	
	opacity: 0.8;
}

.palette:hover
{
	transform:scale(1.31);		
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;	
	opacity: 0.8;
}



#news
{
	background-color: #579C87;	
	align-items: center;
	height: 60px;
	text-align: center;
	margin: auto;
	color: #FDCB46;
	width: 50%;
	border-radius: 6px;
	padding-bottom: 20px;	
}

footer
{
	background-color: #579C87;
	margin: 40px 0px 0px 0px;	
	color: #FDCB46;
	display: flex;
	padding: 0px 40px 0px 40px;
	height: 60px;
}

#mention
{
	width: 50%;	
	text-align: left;
	font-size: 30px;		
}

#contact
{
	width: 50%;	
	text-align: right;
	font-size: 30px;	
}

#mention:hover
{			
	animation: wiggle 1s infinite;	
}

#contact:hover
{		
	animation: wiggle 1s infinite;	
}

@keyframes wiggle
{
	0%{transform: rotate(-2deg)}
	50%{transform: rotate(0deg)}	
	100%{transform: rotate(5deg)}
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------PAGE MENU--------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#page_note
{
	margin: 20px 130px;
	background-color: #FCDFDB;
	padding: 80px;
}

#page_chic
{
	margin: 20px 130px;	
	padding: 80px;
	background-color: #FFF5FE;
}


#page_delice
{
	margin: 20px 130px;
	background-color: #F9F9F9;
	padding: 80px;
}



#page_palette
{
	margin: 20px 130px;
	background-color: #FDFFDB;
	padding: 100px;
	border: 5px solid #CDDC39;	
}
	
.chic p
{
	color: #CC7F27;	
}

.palette p
{
	color: #72BF56;	
}

.delice p, .note p, .chic p, .palette p
{	
	font-size: 20px;
}

.chic h3
{
	background: linear-gradient(120deg, #D58338 , #905BFD);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}


.logo_chic
{
	background: linear-gradient(120deg, #D58338, #905BFD);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    text-align: center; 
    padding-bottom: 40px;   

}

.logo_delice
{
	font-size: 40px;
    text-align: center; 
    padding-bottom: 40px;  
}

.delice h3
{
	 background: linear-gradient(120deg, #0431DF, #1E91FB);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.palette h3
{
	background: linear-gradient(120deg, #41963B, #D0FEA5);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo_palette
{
	background: linear-gradient(120deg, #41963B, #D0FEA5);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    text-align: center; 
    padding-bottom: 40px;
}

.icone
{
	background: linear-gradient(#F15861, #f78F6A);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.note_haut
{	
	width: 40%;	
	text-align: center;	
	margin: auto;		
	font-size: 30px;
	padding: 0px 0px 30px 0px;
}

#plat, #entree, #dessert
{
	display: flex;
}

.repas
{
	width: 90%;
	padding-bottom: 40px;
}

.repas p
{
	width: 80%;
	font-size: 20px;
}

.prix
{
	width: 10%;	
	padding-bottom: 40px;
}

.prix p 
{
	font-size: 20px;
	text-align: right;	
}

.dessert 
{
	width: 90%;
}

.dessert p
{
	font-size: 20px;
}

.note_bas 
{
	display: flex;
	margin: auto;
	width: 40%;
	align-items: baseline;
	padding-left: 20px;
	vertical-align: bottom;
}

.titre_bas
{
	 width: 70%;
	 text-align: left;	 
	 font-size: 20px;
	text-align: left;
	padding-right: 50px;	
	
}

.page_palette h4
{
	padding-top: 40px;
}

.icone_bas 
{
	background: linear-gradient(#F15861, #f78F6A);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 30%;
    text-align: right;  
    font-size: 30px; 
    padding-right: 20px;   
}

h1 a
{
	color: #FDCB46;
	text-decoration: none;
}

footer a
{
	color: #FDCB46;	
	text-decoration: none;
}

.title_border
{
	display: flex;
}

h4
{
	text-align: center;
	padding: 0px 0px 0px 10px;
	font-size: 30px;
	width: 36%;
	margin-top: 40px;		
}

.menu_note a
{	
	color: black;
}

#news a
{
	text-decoration: none;
	color: #FDCB46; 	
}

.menu_palette a, .menu_chic a, .menu_delice a, .menu_note a
{
	text-decoration: none;	
}

.color_entree 
{
	color: #b71c1c;	
}

.color_plat
{
	color: #9C27B0;
}

.color_dessert
{
	color: #3F51B5;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------BORDURES-------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.border_note
{
	width: 16%;
	height: 70px;
	border-bottom:  2px groove black;
	border-radius: 5px;
	box-shadow: 0px 2px 0px black;	
}

.border_chic, .border_chic2
{
	width: 16%;
	height: 70px;
	border-bottom:  4px solid #b71c1c;
	border-radius: 28px;
	box-shadow: 4px 2px 0px #b71c1c;
}

.color_plat .border_chic, .color_plat .border_chic2   
{
	border-bottom:  4px solid #9C27B0;
	border-radius: 28px;
	box-shadow: 4px 2px 0px #9C27B0;
}


.color_dessert .border_chic, .color_dessert .border_chic2
{
	border-bottom:  4px solid #3F51B5;
	border-radius: 28px;
	box-shadow: 4px 2px 0px #3F51B5;
}


.border_delice
{
	border-bottom:  4px dotted #3F51B5;
	box-shadow: 0px 3px 0px #3F51B5;
	width: 35%;
	border-radius: 18px;
	margin-bottom: 50px;
	
}

.border_delice2
{
	border-bottom:  4px dotted #2196F3;
	box-shadow: 0px 3px 0px #2196F3;
	width: 35%;
	border-radius: 18px;
	margin-bottom: 50px;
}

.border_delice3
{
	border-bottom:  4px dotted #00BCD4;
	box-shadow: 0px 3px 0px #00BCD4;
	width: 35%;
	border-radius: 18px;
	margin-bottom: 50px;	
	
}
	
.border_palette
{
	width: 10%;
	height: 10px;
	border-bottom:  10px groove;
	border-radius: 10px;	
	background: linear-gradient(120deg, #009688, #CDDC39);
	-webkit-background-clip: border;
    -webkit-text-fill-color: transparent;	
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------LOADER NEWS----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.container
{

	height: 680px;
	position: relative;	
}

.loader-bars:before{ 
	content:'';	
	display: block;
	position: absolute;
	left: 850px;
	top: 320px;
	border-radius: 50px;
	border: 6px solid black;
	background-color: blue;
	width: 50px;
	height: 50px;
	-webkit-animation: grow 1s linear infinite;	
	animation: grow 1s linear infinite;		
}

.loader-bars:after{ 
	content:'';	
	display: block;
	position: absolute;
	left: 950px;
	top: 320px;
	border-radius: 50px;
	border: 6px solid black;
	background-color: #ffffff;
	width: 50px;
	height: 50px;
	-webkit-animation: grow 1s linear .2s infinite;	
	animation: grow 1s linear .2s infinite;		
}

.span{ 
	content:'';	
	display: block;
	position: absolute;
	left: 1050px;
	top: 320px;
	border-radius: 50px;
	border: 6px solid black;
	background-color: red;
	width: 50px;
	height: 50px;
	-webkit-animation: grow 1s linear .4s infinite;	
	animation: grow 1s linear .4s infinite;		
}

@keyframes grow{
	0% {transform: scaleY(0); opacity:0;}
	50% {transform: scaleY(1); opacity:1;}
	100% {transform: scaleY(0); opacity:0;}
}

.animation_text
{
	font-size: 60px;
	font-weight: bold;
	position: absolute;	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-right: 250px;
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------RESPONSIVE-------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*
@media screen and (max-width: 1024px)
{

h1
{
	font-size: 70px;	
}

h2
{
	font-size: 20px;	
}

#sous_titre
{	
	font-size: 25px;
	padding: 20px;
}

section
{	
 	flex-wrap: wrap; 	 		
}   

.menu_note, .menu_chic, .menu_palette, .menu_delice
{	
	width: 80%;
	height: 500px;			
}

#page_note
{
	margin: 0px 0px;	
	padding: 0px;
	width: 100%;
}


#page_chic
{
	margin: 0px 0px;	
	padding: 0px;
	width: 100%;
}


#page_delice
{
	margin: 0px 0px;	
	padding: 0px;
	width: 100%;
}

#page_note
{
	margin: 0px 0px;	
	padding: 0px;
	width: 100%;
}

#page_palette
{
	margin: 0px 0px;
	padding: 0px;
	width: 100%;
	border: none;	
}
	
.chic p
{	
	font-size: 15px;
}

.palette p
{	
	font-size: 15px;
}

.delice p
{
	
	font-size: 15px;
}

.note p
{
	
	font-size: 15px;
}

.title_gradient
{
	
    font-size: 35px;  
    padding-bottom: 20px;   

}

.logo_delice
{
	font-size: 35px;   
    padding-bottom: 20px;  
}

.logo_palette
{
    font-size: 35px; 
    padding-bottom: 20px;
}

#news
{	
	height: 30px;	
}

footer
{	
	margin: 0px 0px 0px 0px;
	height: 60px;
	padding: 0px;	
}

#mention
{	
	font-size: 15px;		
}

#contact
{
	font-size: 15px;	
}

.note_haut
{		
	font-size: 15px;
	padding: 0px 0px 0px 0px;
}

#plat
{
	display: flex;
}

#entree
{
	display: flex;
}

#dessert
{
	display: flex;
}

.repas
{
	width: 100%;
	padding-bottom: 0px;

}
.repas p
{
	width: 90%;
	font-size: 15px;
}

.prix
{
	width: 10%;	
	padding-bottom: 0px;
}

.prix p 
{
	font-size: 15px;
	text-align: right;
	line-height: 220%;	
}

.dessert 
{
	width: 100%;
	text-align: center;
}

.dessert p 
{
	font-size: 15px;
}

.note_bas
{	
	display: flex;
	width: 100%;
	padding-left: 40px;
}

.titre_bas
{
	width: 100%;	 	 
	font-size: 15px;	
}

.page_palette h4
{
	padding-top: 40px;
}

.icone_bas 
{	
    width: 30%;     
    font-size: 15px;    
}

p
{
	font-size: 20px;
}

h4
{	
	padding: 0px 0px 20px 0px;
	font-size: 13px;		
}

.container
{
	height: 100%;
	width: 100%;
	position: relative;	
}

.loader-bars:before{ 
	content:'';	
	display: block;
	position: absolute;
	left: 1200px;
	top: 450px;
	border-radius: 50px;
	border: 6px solid black;
	background-color: blue;
	width: 50px;
	height: 50px;
	-webkit-animation: grow 1s linear infinite;	
	animation: grow 1s linear infinite;		
}

.loader-bars:after{ 
	content:'';	
	display: block;
	position: absolute;
	left: 1300px;
	top: 450px;
	border-radius: 50px;
	border: 6px solid black;
	background-color: #ffffff;
	width: 50px;
	height: 50px;
	-webkit-animation: grow 1s linear .2s infinite;	
	animation: grow 1s linear .2s infinite;		
}

.span{ 
	content:'';	
	display: block;
	position: absolute;
	left: 1400px;
	top: 450px;
	border-radius: 50px;
	border: 6px solid black;
	background-color: red;
	width: 50px;
	height: 50px;
	-webkit-animation: grow 1s linear .4s infinite;	
	animation: grow 1s linear .4s infinite;			
}

.container .animation_text
{
	font-size: 35px;
	
	position: absolute;	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

}


 

