/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------GENERAL----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@font-face
{
    font-family: 'robotoblack';
    src: url('fonts/Roboto-Black-webfont.eot');
    src: url('fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Black-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Black-webfont.woff') format('woff'),
         url('fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'ambleregular';
    src: url('fonts/Amble-Regular-webfont.eot');
    src: url('fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-Regular-webfont.woff2') format('woff2'),
         url('fonts/Amble-Regular-webfont.woff') format('woff'),
         url('fonts/Amble-Regular-webfont.ttf') format('truetype'),
         url('fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	margin: 0px;
	padding: 0px;	
	font-family: "Comic sans MS", "sans serif", roboto;	
}	

#body_mentions
{
	margin: 0px;
	padding: 0px;	
	font-family: "Comic sans MS", "sans serif", roboto;
	background-color: #FDFFDB;
}	

header
{		
	margin: 0px;
	padding: 0px;
	position: absolute;
	z-index: 1000;
	top: 0;	
}

h1
{
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 5em;
	color: #FDCB46;
	position: fixed;	
	background-color: #579C87;
	text-align: center;
	width: 100%;
	padding: 20px;	
	font-family: 'robotoblack';						
}

h1 a, footer a
{
	color: #FDCB46;	
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------INDEX------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

section
{	
 	display: flex; 
 	justify-content: center;
 	width: 100%;
 	height: 700px;
}

.menu_haut
{	
 	margin: 200px 0px 80px 0px; 	
 }

 .menu_bas
{		
 	margin: 40px 0px 120px 0px; 	
}

.title_center
{	
	width: 80%;
	position: absolute;	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);    		
}

section a
{			
	overflow: hidden;
	width: 35%;	
	height: 100%;
	margin: 0px 60px;
	border: 5px #F1F1F1 solid;
	box-shadow: 5px 5px 5px #F1F1F1;	
	border-radius: 5px;				
}

a
{
	text-decoration: none;
}

.note, .chic, .palette, .delice
{
	text-align: center;		
	height: 100%;
	width: 100%;
	position: relative;
}

.note h2, .note p
{
	color: #551A8B;		 	
}
.note
{
	background-color: #FCDFDB;		 	
}

.chic
{	
	background-color: #FFF5FE;			
}

.delice
{	
	background-color: #F9F9F9;	 	
}

.palette
{		
	background-color: #FDFFDB;	
}

i
{
	background-image: linear-gradient(to left, rgb(246, 145, 106) 10%, rgb(241, 95, 98) 53%);
}

h2
{
	font-size: 2em;
}

.note h2
{
    padding-top: 8px;	    
}

.chic h2
{
	background-image: linear-gradient(120deg, #D58338, #905BFD);
	padding-top: 80px;     
}

.delice h2
{
	background-image: linear-gradient(200deg, #0431DF, #1E91FB);
}

.palette h2
{
	background-image: linear-gradient(120deg, #41963B, #D0FEA5);
}

h3
{
	font-size: 40px;
    text-align: center; 
    padding-bottom: 40px;
}

#logo_chic h3, #logo_palette h3, .palette h2, .delice h2, .chic h2, i, #texte
{
	color: transparent;
	-webkit-background-clip: text;
	-moz-background-clip: text;
}

#logo_chic h3
{
	background-image: linear-gradient(120deg, #D58338, #905BFD);
}

#logo_palette h3
{
	background-image: linear-gradient(60deg, #41963B, #D0FEA5);
}

.chic p
{
	color: #CC7F27;	
}

.palette p
{
	color: #72BF56;	
}

.delice p, .note p, .chic p, .palette p
{	
	font-size: 2em;
}

.note:hover
{
	transform:scale(1.4);		
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;	
	opacity: 0.3;		
}

.delice:hover
{
	transform:scale(1.4);		
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;	
	opacity: 0.3;		
}

.chic:hover
{
	transform:scale(1.4);		
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;	
	opacity: 0.3;		
}

.palette:hover
{
	transform:scale(1.4);		
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;	
	opacity: 0.3;		
}

.prochainement
{
	position: relative;
	width: 100%;
	margin-bottom: 280px;	
}

.prochainement a
{
	text-align: center;	
	color: #FDCB46;	
	border-radius: 6px;
	cursor: pointer;
	background-color: #579C87;		
	box-shadow: 10px 10px 10px 4px rgba(0, 0, 0, 0.2);	
	width: 40%;
	font-size: 3.5em;
	position: absolute;	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
	font-family: "robotoblack";	 	 	
 }

footer
{
	position: fixed;
	z-index:98;
	background-color: #579C87;		
	color: #FDCB46;
	display: flex;
	bottom: 0px;	
	width: 100%;	
	font-size: 2em;

}

#mention
{
	padding: 10px;	
	width: 50%;	
	text-align: left;	
	font-family: "robotoblack";	
	padding-left: 20px;			
}

#contact
{	
	padding: 10px;	
	width: 50%;	
	text-align: right;	
	font-family: "robotoblack";	
	padding-right: 20px;			
}

#contact_seul
{	
	font-family: "robotoblack";	
	padding: 20px;
	margin: auto;
	width: 100%;
	text-align: center;
}

#mention:hover
{			
	animation: wiggle 1s infinite;	
}

#contact:hover
{		
	animation: wiggle 1s infinite;
	
}

#contact_seul:hover
{		
	animation: wiggle 1s infinite;	
}

footer a:hover
{
	color: #3F51B5;
}

@keyframes wiggle
{
0%
{transform: rotate(-2deg);
}
50%
{
transform: rotate(0deg);	
}
100%
{
transform: rotate(5deg);
}
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------PAGE MENU--------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#page_note, #page_chic, #page_delice, #page_palette
{
	margin: 20px 130px 120px 130px;
	padding: 80px;
	height: 100%;
}

#page_note
{
	background-color: #FCDFDB;
	color: #551A8B;
}

#page_chic
{
	background-color: #FFF5FE;	
}

#page_delice
{
	background-color: #F9F9F9;
}

#page_palette
{
	background-color: #FDFFDB;	
	border: 5px solid #CDDC39;	
}

#mentions_legales
{
	height: 100%;
	width: 100%;
	margin-top: 150px;	 
}

#loi
{	
	width: 80%;
	height: 100%;
	font-size: 1em;
	padding: 10px;	
	margin: 0px;		
}

.repas_prix
{
	position: relative;
	height: 50px;
	display: flex;
	justify-content: space-around;
	width: 100%;	
	margin: 0px;
	padding: 20px 0px;	
}

.box_bottom
{
	position: relative;
	height: 40px;
	display: flex;
	padding-bottom: 40px;
	width: 100%;	
}

.element_repas
{
	width: 90%;
	height: 40px;
	font-size: 20px;	
	padding-right: 0px;
}

.element_prix
{
	width: 10%;
	height: 40px;
	font-size: 20px;
	text-align: right;
	padding-right: 0px;	
}

.dessert
{
	position: relative;
	height: 50px;
	display: flex;
	justify-content: space-around;
	width: 100%;	
	margin: 0px;
	padding: 20px 0px;
}

.element_dessert
{
	width: 100%;
	height: 40px;
	font-size: 20px;	
	padding-right: 0px;
}

#sous_titre
{
	text-align: center;
	font-size: 2em;	
	margin-top: 150px;
}

#note_haut
{	
	width: 60%;	
	text-align: center;	
	margin: auto;		
	font-size: 30px;
	padding: 0px 0px 30px 0px;	
}

#note_bas 
{
	display: flex;
	width: 50%;	
	margin: auto;
}

#note_bas p
{
	width: 20%;
	text-align: right;
	padding-right: 10px;
	padding-top: 35px;	
}

#note_bas i, .titre_bas h3
{
	font-size: 2.5em;
}

.titre_bas
{
	width: 80%;				
}

.titre_bas h3
{
	text-align: left;	
}

.title_border
{
	display: flex;
	justify-content: space-around;
}

h4
{
	text-align: center;
	font-size: 2em;
	width: 40%;
}

#page_palette h4
{
	padding-top: 40px;
	margin-top: 40px;
	font-family: "ambleregular";			
}

#page_note h4
{
	margin-top: 5px;
	font-family: "robotoblack";				
}

#page_delice h4
{
	margin-top: 5px;
	font-family: "ambleregular";			
}

#page_chic h4
{
	margin-top: 0px;
	font-family: "ambleregular";			
}

.color_entree
{
	color: #C67412;	
}

.color_plat 
{
	color: #9C27B0;
}

.color_dessert
{
	color: #3F51B5;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------Annimation soulignement-----------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.soulignement_delice, .soulignement_note 
{
	background: linear-gradient(to top, rgba(0, 0, 255, 0.5) 0%, rgba(0, 0, 255, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	transition: background-size .5s;
}
.soulignement_chic, .soulignement_palette  
{
	background: linear-gradient(to top, rgba(244, 191, 18, 0.5) 0%, rgba(244, 191, 18, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	transition: background-size .5s;
}

.soulignement_note:hover
{
	background-size: 100% 100%;
}

.soulignement_chic:hover
{
	background-size: 100% 100%;
}

.soulignement_delice:hover
{
	background-size: 100% 100%;
}
  
.soulignement_palette:hover
{
	background-size: 100% 100%;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------BORDURES-------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.border_note
{
	width: 16%;
	height: 30px;
	border-bottom:  2px groove black;
	border-radius: 10px;
	box-shadow: 0px 2px 0px black;	
}

.border_chic, .border_chic2
{
	width: 14%;
	height: 30px;
	border-bottom:  4px solid #C67412;
	border-radius: 28px;
	box-shadow: 4px 2px 0px #C67412;
}

.color_plat .border_chic, .color_plat .border_chic2   
{
	border-bottom:  4px solid #9C27B0;
	border-radius: 28px;
	box-shadow: 4px 2px 0px #9C27B0;
}


.color_dessert .border_chic, .color_dessert .border_chic2
{
	border-bottom:  4px solid #3F51B5;
	border-radius: 28px;
	box-shadow: 4px 2px 0px #3F51B5;
}


.border_delice
{
	border-bottom:  4px dotted #3F51B5;
	box-shadow: 0px 3px 0px #3F51B5;
	width: 35%;
	border-radius: 18px;
	margin-bottom: 50px;	
}

.border_delice2
{
	border-bottom:  4px dotted #2196F3;
	box-shadow: 0px 3px 0px #2196F3;
	width: 35%;
	border-radius: 18px;
	margin-bottom: 50px;
}

.border_delice3
{
	border-bottom:  4px dotted #00BCD4;
	box-shadow: 0px 3px 0px #00BCD4;
	width: 35%;
	border-radius: 18px;
	margin-bottom: 50px;	
}
	
.border_palette
{
	width: 12%;
	height: 10px;	
	border-bottom:  10px groove;
	border-radius: 10px;	
	background: linear-gradient(120deg, #009688, #CDDC39);
	color: transparent;
	-webkit-background-clip: border;
	-moz-background-clip: border;   	
    margin-top: 90px;	
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------LOADER NEWS----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#container
{		
	width: 100%;
	height: 100%;
	margin-top: 400px;	
}

#box_loader
{		
	width: 40%;
	height: 30%;	
	display: flex;
	justify-content: flex-start;
	margin: auto;	
}

#texte
{		
	width: 100%;
	height: 100%;	
	font-size: 5em;	
	font-weight: bold;	
	background-image: linear-gradient(120deg, #D58338 , #905BFD);		
}

.box
{
	width: 20%;
	height: 80%;	
	margin: auto;
	padding-top: 40px;
}

#point1, #point2, #point3
{	
	border-radius: 50%;    
	width: 40px;
	height: 40px;
	-webkit-animation: grow 2s ease-in-out infinite;	
	animation: grow 2s ease-in-out infinite;
	margin: auto;	
}

#point1
{
	animation-delay:0s;
}

#point2
{
	animation-delay:0.2s;
}
#point3
{
	animation-delay:0.4s;
}

@keyframes grow
{
	0%, 100%
	{
	transform: scale(0.2);
	background-color: #D58338;
	}	
	50%
	{
	transform: scale(1); 
	background-color: #905BFD;
	}	
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------RESPONSIVE --------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1540px)
{

	#note_bas p
	{
		width: 20%;
	}

	#note_bas i, .titre_bas h3
	{
		font-size: 2.5em;
	}

	.titre_bas
	{
	width: 80%;				
	}
 
	.titre_bas
	{
		width: 70%;
		text-align: left;			
	}

	#container
	{		
		width: 100%;
		height: 100%;
		margin-top: 400px;	
	}

	#box_loader
	{		
		width: 40%;
		height: 30%;	
		display: flex;
		justify-content: flex-start;
		margin: auto;	
	}

	#texte
	{		
		font-size: 4em;	
	}

	#point1, #point2, #point3
	{		
		width: 35px;
		height: 35px;
	}
}

@media screen and (max-width: 1225px)
{	

	h2
	{   		    
		font-size: 1.5em;		    
	}

	#note_bas p
	{
		width: 20%;
		padding-top: 20px;
	}

	#note_bas i, .titre_bas h3
	{
		font-size: 2em;

	}

	.titre_bas
	{
	width: 80%;				
	}
}

@media screen and (max-width:1024px)
{
	
	h1
	{
		font-size: 3em;
		margin: 0px;
		padding: 0px
	}	

	section
	{	
 		width: 100%;
 		height: 600px;
  	}

  	#page_note, #page_chic, #page_delice, #page_palette
	{
	margin: 20px 60px 120px 60px;
	padding: 20px;
	height: 100%;
	}

	.element_prix
	{
		text-align: center;
		padding-right: 0px;	
	}

  	#sous_titre
	{	
		font-size: 2em;	
		margin-top: 80px;
	}

 	.menu_haut
	{	
 		margin: 200px 0px 40px 0px; 	
 	}

 	.menu_bas
	{		
 		margin: 40px 0px 100px 0px; 	
 	}

	.title_center
	{	
		width: 100%;	   		
	}

	.delice p, .note p, .chic p, .palette p
	{
		font-size: 1.5em;
	}	

	.prochainement a
	{	
		width: 50%;
		font-size: 2em;		 	 	
 	}
 	.prochainement
	{
		margin-bottom: 200px;	
	}
	footer
	{
		font-size: 1.5em;			
	}

	#page_note, #page_chic, #page_delice, #page_palette
	{
		margin: auto;		
	}

	#mentions_legales
	{	
		width: 90%;
		margin: 120px 10px 100px 10px;
	}

	#loi
	{	
		font-size: 1em;
		padding: 20px;			
 	}

 	h4
 	{
 		font-size: 1.5em;
 	}

	.border_chic, .border_chic2
	{
		width: 10%;
	}

	.border_delice, .border_delice2,.border_delice3
	{	
		width: 30%;
	}
		
	.border_palette
	{
		width: 10%;
		margin-top: 85px;		
	}

}
@media screen and (max-width: 900px)
{
	section
	{
		flex-direction: column;
		width: 100%; 		 	
	}

	.menu_haut
	{	 	
 		margin: 150px 0px 0px 0px; 	
	}

	 .menu_bas
	{	 	
 		margin: 0px 0px 60px 0px; 
	}

	section a
	{	
		width: 70%;	
		margin: auto; 
		padding: 0px;			
	}	
	.chic h2
	{
		padding-top: 0px;
	}
	.prochainement
	{
		margin-bottom: 180px;	
	}	

	#texte
	{		
	font-size: 3em;	
	}

	.box
	{
		padding-top: 20px;	
	}

	#point1, #point2, #point3
	{		
		width: 30px;
		height: 30px;
	}
}
@media screen and (max-width: 766px)
{ 
	#note_bas p
	{
		width: 20%;
		padding-top: 10px;
	}

	#note_bas i, .titre_bas h3
	{
		font-size: 1.5em;
	}	

	h4
	{	
		font-size: 16px;
	}

	.border_note
	{
		width: 14%;
		height: 10px;	
	}

	.border_chic, .border_chic2
	{
		width: 8%;
		height: 10px;	
	}
	
	.border_delice
	{
		width: 30%;
		border-radius: 18px;
		margin-top: 0px;
		height: 10px;	
	}

	.border_delice2
	{
		width: 30%;	
		margin-top: 0px;
		height: 10px;
	}

	.border_delice3
	{		
		width: 30%;
		margin-top: 0px;
		border-radius: 18px;
		height: 10px;			
	}
	.border_palette
	{
		width: 10%;
		margin-top: 20px;		
	}

	#page_palette h4			
	{
		margin-top: 20px;
		padding-top: 0px;
	}		
	
	.element_repas, .element_prix
	{	
		font-size: 12px;	
		padding-right: 0px;
	}

	.repas_prix
	{				
		margin: 0px;		
		padding-top: 20px;	
	}

	.dessert
	{				
		margin: 0px;
		padding-bottom: 0px;
		padding-top: 30px;	
	}

	.element_dessert
	{		
		font-size: 12px;	
		padding-right: 0px;
	}
}
@media screen and (max-width: 680px)
{ 
	#texte
	{		
		font-size: 2em;	
	}

	.box
	{
		padding-top: 10px;	
	}

	#point1, #point2, #point3
	{		
		width: 25px;
		height: 25px;
	}

	h1
	{
		font-size: 3em;
	}
	
	#note_bas i, .titre_bas h3
	{
		font-size: 1em;
	}

	#note_bas p
	{
		padding-top: 0px;
	}	

	#sous_titre
	{
		font-size: 1.5em;
	}

	#page_note, #page_chic, #page_delice, #page_palette
	{
		margin:auto;
		padding: 0px 10px;
		width: 90%;
	}

	#note_haut
	{
		font-size: 20px;
	}

	.element_repas, .element_prix
	{			
		font-size: 14px;	
		padding: 0px;
	}

	.element_dessert
	{		
		height: 40px;			
	}

	h3
	{
		font-size: 1em;
		padding-bottom: 0px
	}

	footer
	{
		font-size: 1em;			
	}

	.prochainement a
	{	
		width: 60%;
		font-size: 2em;		 	 	
 	}

 	.prochainement
	{
		margin-bottom: 160px;	
	}	
}

@media screen and (max-width: 540px)
{
	h4
	{	
		font-size: 14px;	
	}

 	#page_note, #page_chic, #page_delice, #page_palette
	{
		margin: auto;
		padding: 40px;
		width: 80%;
	}

	.element_repas, .element_prix
	{		
		font-size: 10px;	
		padding-right: 0px;
	}

	.element_dessert
	{		
		height: 40px;
		font-size: 10px;	
	}
}

@media screen and (max-width: 480px)
{
	.menu_haut
	{	 	
 		margin: 100px 0px 0px 0px; 	
	}

	 .menu_bas
	{	 	
 		margin: 0px 0px 40px 0px; 
	}

	h1
	{
		font-size: 2em;
	}

	h4
	{
		font-size: 0.8em;
		margin: 0px;
	}

	h2
	{      
		font-size: 1em;		    
	}

	h3, .delice p, .note p, .chic p, .palette p
	{
		font-size: 1em;
	}

	.titre_bas h3
	{
		font-size: 0.8em;
	}

	#note_bas p
	{
		margin-top: 0px;
		margin-top: 10px;
	}

	.title_center
	{	
		width: 100%;   		
	}

	.note
	{
		margin-top: 0px;
		padding: 0px;
	}

	#mention, #contact
	{
		font-size: 12px;			
	}
	
	#page_note, #page_chic, #page_delice, #page_palette
	{
		margin: 20px 0px 80px 0px; 
		padding: 20px;
		width: 90%;
	}

	#sous_titre
	{	
		font-size: 1.5em;	
		margin-top: 60px;
	}		
	
	#loi
	{	
		width: 90%;
		height: 100%;
		font-size: 12px;		
		margin: auto;
		text-align: justify;
	}

	.mentions_legales h2
	{
		padding: 0px;
		margin: 0px; 
	}

	#texte
	{		
	font-size: 1.5em;	
	}

	.box
	{
		padding-top: 5px;	
	}

	#point1, #point2, #point3
	{		
		width: 20px;
		height: 20px;
	}
	
	#container
	{
		margin-top: 250px;
	}
}

@media screen and (max-width: 400px)
{	

	.prochainement a
	{
		font-size: 1.5em;
	}

}
@media screen and (max-width: 345px)
{	
	.repas_prix
	{		
		margin-top: 20px;
		margin-bottom: 0px;
		padding: 10px 0px;
	}

	.box_bottom
	{
		padding-bottom: 0px;
	}	

	.dessert
	{					
		margin-top: 20px;
		padding: 10px 0px;
	}	

	h4
	{
		font-size: 0.8em;
		margin: 0px;
	}	

	.element_repas, .element_prix
	{			
		font-size: 10px;	
	}
	
	.element_dessert
	{		
			
		font-size: 10px;	
	}

	#note_bas i, .titre_bas h3
	{
		font-size: 0.8em;
	}

		#texte
	{		
		font-size: 1em;	
	}

	.box
	{
		padding-top: 5px;	
	}

	#point1, #point2, #point3
	{		
		width: 15px;
		height: 15px;
	}
	
	.titre_bas h3
	{
		font-size: 0.6em;
	}

	#note_bas p
	{
		margin-top: 3px;
	}	
}

@media screen and (max-width: 300px)
{	
	.prochainement a
	{
		font-size: 1em;
	}

	#texte
	{		
	font-size: 0.6em;	
	}

	.box
	{
		padding-top: 5px;	
	}

	#point1, #point2, #point3
	{		
		width: 10px;
		height: 10px;
	}
	
	#container
	{
		margin-top: 250px;
	}
	
}

