@font-face 
{
    font-family: 'I-Am';
    src:url('../fonts/I-Am.ttf.woff') format('woff'),
        url('../fonts/I-Am.ttf.svg#I-Am') format('svg'),
        url('../fonts/I-Am.ttf.eot'),
        url('../fonts/I-Am.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'KaushanScript-Regular';
    src:url('../fonts/KaushanScript-Regular.ttf.woff') format('woff'),
        url('../fonts/KaushanScript-Regular.ttf.svg#KaushanScript-Regular') format('svg'),
        url('../fonts/KaushanScript-Regular.ttf.eot'),
        url('../fonts/KaushanScript-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Chopin-Script';
    src:url('../fonts/Chopin-Script.ttf.woff') format('woff'),
        url('../fonts/Chopin-Script.ttf.svg#Chopin-Script') format('svg'),
        url('../fonts/Chopin-Script.ttf.eot'),
        url('../fonts/Chopin-Script.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Devonshire-Regular';
    src:url('../fonts/Devonshire-Regular.ttf.woff') format('woff'),
        url('../fonts/Devonshire-Regular.ttf.svg#Devonshire-Regular') format('svg'),
        url('../fonts/Devonshire-Regular.ttf.eot'),
        url('../fonts/Devonshire-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face 
{ 
    font-family: 'Croissant-One';
    src:url('../fonts/Croissant-One.ttf.woff') format('woff'),
        url('../fonts/Croissant-One.ttf.svg#Croissant-One') format('svg'),
        url('../fonts/Croissant-One.ttf.eot'),
        url('../fonts/Croissant-One.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Gravity-Bold';
    src:url('../fonts/Gravity-Bold.ttf.woff') format('woff'),
        url('../fonts/Gravity-Bold.ttf.svg#Gravity-Bold') format('svg'),
        url('../fonts/Gravity-Bold.ttf.eot'),
        url('../fonts/Gravity-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}